
@model MIOTIC.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Cliente</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-4">
            @if(Model.Foto != null)
            {
                <img src="~/fotos/@Model.Foto"class="img-thumbnail"width="200px" height="200px"/>
            }
           
        </dt>
        <dt class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Ci)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Ci)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Celular)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Celular)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Foto)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Foto)
                </dd>
            </dl>
         </dt>      
     </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
